{% extends 'base.html' %}

{% block title %}
Estados de Evento
{% endblock %}
{% block json_data %}
{{ eventStatusJson|json_script:"eventStatus" }}
{% endblock %}
{% block content %}
<div>

    <h1>
        Estados de Evento
    </h1>

    <div>

        <input
            v-model="form.name"
            placeholder="Nombre"
        >

        <button @click="saveStatus">
            [[ form.id ? 'Actualizar' : 'Guardar' ]]
        </button>

    </div>

    <table>

        <thead>

            <tr>

                <th>ID</th>

                <th>Nombre</th>

                <th></th>

            </tr>

        </thead>

        <tbody>

            <tr
                v-for="status in statuses"
                :key="status.id"
            >

                <td>
                    [[ status.id ]]
                </td>

                <td>
                    [[ status.name ]]
                </td>

                <td>

                    <button
                        @click="editStatus(status)"
                    >
                        Editar
                    </button>

                    <button v-if="status.isActive" @click="deactivateStatus(status)">
                        Desactivar
                    </button>

                    <button v-else @click="activateStatus(status)">
                        Activar
                    </button>

                </td>

            </tr>

        </tbody>

    </table>

</div>

{% endblock %}

{% block vueData %}
<script>

const pageData = {

    statuses: JSON.parse(document.getElementById('eventStatus').textContent),

    form: {
        id: null,
        name: '',
    }

}

</script>
{% endblock %}

{% block vueMethods %}
<script>

const pageMethods = {
    async saveStatus() {
        let url = '/events/statuses/view/'
        method = 'POST';
        
        const data = await this.apiRequest(url, {
            method,
            body: JSON.stringify(this.form),
        })

        if (!data) return

        this.statuses = data.eventStatusJson;
        
        this.resetForm()
    },

    editStatus(status) {

        this.form = {
            id: status.id,
            name: status.name,
        }

    },

    async deactivateStatus(status) {

        if (!confirm('¿Deseas desactivar este Estado?')) {
            return
        }

        const data = await this.apiRequest(`/api/status/${status.id}/deactivate/`,
            {
                method: 'PATCH'
            }
        )

        if (!data) return

        await this.fetchStatus()
    },

    async activateStatus(status) {

        if (!confirm('¿Deseas activar este Estado?')) {
            return
        }

        const data = await this.apiRequest(`/api/status/${status.id}/activate/`,
            {
                method: 'PATCH'
            }
        )

        if (!data) return

        await this.fetchStatus()
    },

    async fetchStatus() {
        let url = '/api/status/?'

        if (this.isActiveFilter) {
            url += `isActive=${this.isActiveFilter}`
        }

        const data = await this.apiRequest(url)

        if (!data) return

        this.statuses = data
    },

    resetForm() {

        this.form = {
            id: null,
            name: '',
        }

    }

}

</script>
{% endblock %}