{% extends 'base.html' %}

{% block title %}
Tipos de Evento
{% endblock %}

{% block content %}

{{ eventTypesJson|json_script:"eventTypes" }}

<div>

    <h1>
        Tipos de Evento
    </h1>

    <div>
        <input v-model="form.name" placeholder="Nombre">

        <button @click="saveType">
            [[ form.id ? 'Actualizar' : 'Guardar' ]]
        </button>
    </div>

    <table>

        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            <tr v-for="type in types" :key="type.id">

                <td>
                    [[ type.id ]]
                </td>

                <td>
                    [[ type.name ]]
                </td>

                <td>

                    <button @click="editType(type)">
                        Editar
                    </button>

                    <button v-if="type.isActive" @click="deactivateType(type)">
                        Desactivar
                    </button>

                    <button v-else @click="activateType(type)">
                        Activar
                    </button>

                </td>

            </tr>

        </tbody>

    </table>

</div>

{% endblock %}

{% block vueData %}
<script>

const pageData = {

    types: JSON.parse(document.getElementById('eventTypes').textContent),

    form: {
        id: null,
        name: ''
    }

}

</script>
{% endblock %}

{% block vueMethods %}
<script>

const pageMethods = {
    async saveType() {
        let url = '/events/types/view/'
        method = 'POST';
        console.log(this.form.id);
        
        const data = await this.apiRequest(url, {
            method,
            body: JSON.stringify(this.form),
        })

        if (!data) return

        this.types = data.eventTypesJson;
        console.log(this.types);
        
        this.resetForm()
    },

    editType(type) {

        this.form = {
            id: type.id,
            name: type.name
        }

    },

    async deactivateType(type) {

        if (!confirm('¿Deseas desactivar este Tipo?')) {
            return
        }

        const data = await this.apiRequest(`/api/types/${type.id}/deactivate/`,
            {
                method: 'PATCH'
            }
        )

        if (!data) return

        await this.fetchTypes()
    },

        async activateType(type) {

            if (!confirm('¿Deseas activar este Tipo?')) {
                return
            }

            const data = await this.apiRequest(`/api/types/${type.id}/activate/`,
                {
                    method: 'PATCH'
                }
            )

            if (!data) return

            await this.fetchTypes()
        },

    async fetchTypes() {
        let url = '/api/types/?'

        if (this.isActiveFilter) {
            url += `isActive=${this.isActiveFilter}`
        }

        const data = await this.apiRequest(url)

        if (!data) return

        this.types = data
    },

    resetForm() {

        this.form = {
            id: null,
            name: ''
        }

    }

}

</script>
{% endblock %}