<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>

<div id="app">
    <h2>Login</h2>

    <form @submit.prevent="login">
        <input type="text" v-model="username" placeholder="Usuario" autocomplete="username">
        <input type="password" v-model="password" placeholder="Contraseña" 
                autocomplete="current-password">

        <button>Ingresar</button>
    </form>

    <p>{{ error }}</p>
</div>

<script>
const { createApp } = Vue

createApp({
    data() {
        return {
            username: '',
            password: '',
            error: ''
        }
    },
    methods: {
        async login() {
            this.error = ""

            if (!this.username || !this.password) {
                this.error = "Campos requeridos"
                return
            }

            try {
                const res = await fetch('/api/auth/login/', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        username: this.username,
                        password: this.password
                    })
                })

                if (!res.ok) {
                    if (res.status === 401) {
                        this.error = "Credenciales incorrectas"
                    } else if (res.status >= 500) {
                        this.error = "Error del servidor"
                    }
                    return;
                }

                const data = await res.json()

                localStorage.setItem('access', data.access)
                localStorage.setItem('refresh', data.refresh)

                window.location.href = '/dashboard/'

            } catch (e) {
                this.error = "Error del servidor"
            }
        }
    }
}).mount('#app')
</script>

</body>
</html>